@mixin cute-border ($width: 3px, $padding: 25px) {
  border-bottom: $width;
  padding-bottom: $padding;
}

@mixin keyframer($name, $prop, $vals) {
  @keyframes #{$name} {
    0% {
      #{$prop}: nth($vals, 1);
    }
    $frames: ();
    @for $i from 1 through (length($vals) - 2) {
      $frames: append($frames, (100% / (length($vals) - 1)) * $i);
      #{nth($frames, $i)} {
        #{$prop}: nth($vals, $i + 1);
      }
    }
    100% {
      #{$prop}: nth($vals, length($vals));
    }
  }
}

@mixin m-box-colors($bg, $textcol) {
  background: $bg;
  p {
    color: $textcol;
  }
}