/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet

******************************************************************/
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/* normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong,
.strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn,
em,
.em {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/*
 * proper formatting (http://blog.fontdeck.com/post/9037028497/hyphens)
*/
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
      hyphens: auto;
}

/*
 * Addresses margins set differently in IE6/7.
 */
pre {
  margin: 0;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
q:before,
q:after {
  content: '';
  content: none;
}

small, .small {
  font-size: 75%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
  Lists
========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0;
}

/*
 * Addresses paddings set differently in IE6/7.
 */
menu {
  padding: 0 0 0 40px;
}

ol,
ul {
  padding: 0;
  list-style-type: none;
}

/*
 * Corrects list images handled incorrectly in IE7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
  Embedded content
========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.image-replacement,
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.clearfix, .cf {
  zoom: 1;
}
.clearfix:before, .clearfix:after, .cf:before, .cf:after {
  content: "";
  display: table;
}
.clearfix:after, .cf:after {
  clear: both;
}

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #333333;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
      hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  -webkit-margin-before: 0;
  margin-before: 0;
  -webkit-margin-after: 0;
  margin-after: 0;
}

article ul {
  color: white;
  font-size: 1.5rem;
  list-style-type: disc;
}

body {
  font-family: "raleway";
}

h1, h1 a {
  font-size: 3.375rem;
  font-weight: 700;
  color: #E6E6E6;
  opacity: 1;
}

a {
  color: #E6E6E6;
  font-weight: 600;
}

p {
  color: #E6E6E6;
  font-weight: 300;
  font-size: 1.5rem;
}

.emphasis {
  font-weight: 600;
}

@media print {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Print Stylesheet
  
  This is the print stylesheet. There's probably not a lot
  of reasons to edit this stylesheet. If you want to
  though, go for it.
  
  ******************************************************************/
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    -webkit-filter: none !important;
            filter: none !important;
    -ms-filter: none !important;
  }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a:after, a:visited:after {
    content: " (" attr(href) ")";
  }
  a abbr[title]:after, a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}
body {
  -webkit-transition: color 3s ease;
          transition: color 3s ease;
  test: test;
}

.l-main {
  width: 60%;
  float: left;
  margin-top: -1px;
}
@media (max-width: 870px) {
  .l-main {
    width: 100%;
  }
}

.l-rail {
  width: 40%;
  float: left;
}
@media (max-width: 870px) {
  .l-rail {
    width: 100%;
  }
}

.m-header-grid {
  height: 400px;
  width: 100%;
  max-width: 70rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background: #333333;
}
@media (min-width: 70rem) {
  .m-header-grid {
    left: -webkit-calc((100% - 70rem) / 2);
    left: calc((100% - 70rem) / 2);
  }
}
@media (max-width: 870px) {
  .m-header-grid:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #333333;
    width: 100%;
    height: 100%;
    z-index: 5;
    -webkit-animation: canteloupe-stew 3s ease;
            animation: canteloupe-stew 3s ease;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: .25s;
            animation-delay: .25s;
  }
  @-webkit-keyframes canteloupe-stew {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes canteloupe-stew {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

.m-header-grid__frame {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 100px;
}

.m-header-grid__cell {
  width: 5%;
  height: 10.1%;
  float: left;
  position: relative;
}
.m-header-grid__cell:nth-child(20n - 0) {
  background: #cebe08;
  -webkit-animation: hor 6s ease infinite alternate;
          animation: hor 6s ease infinite alternate;
  -webkit-animation-delay: 2.85s;
          animation-delay: 2.85s;
}
.m-header-grid__cell:nth-child(20n - 1) {
  background: #d4b50f;
  -webkit-animation: hor 6s ease infinite alternate;
          animation: hor 6s ease infinite alternate;
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}
.m-header-grid__cell:nth-child(20n - 2) {
  background: #d9ab17;
  -webkit-animation: hor 6s ease infinite alternate;
          animation: hor 6s ease infinite alternate;
  -webkit-animation-delay: 2.55s;
          animation-delay: 2.55s;
}
.m-header-grid__cell:nth-child(20n - 3) {
  background: #dfa31e;
  -webkit-animation: hor 6s ease infinite alternate;
          animation: hor 6s ease infinite alternate;
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}
.m-header-grid__cell:nth-child(20n - 4) {
  background: #dd992d;
  -webkit-animation: hor 6s ease infinite alternate;
          animation: hor 6s ease infinite alternate;
  -webkit-animation-delay: 2.25s;
          animation-delay: 2.25s;
}
.m-header-grid__cell:nth-child(20n - 5) {
  background: #db923c;
  -webkit-animation: hor 6s ease infinite alternate;
          animation: hor 6s ease infinite alternate;
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}
.m-header-grid__cell:nth-child(20n - 6) {
  background: #d98d4b;
  -webkit-animation: hor 6s ease infinite alternate;
          animation: hor 6s ease infinite alternate;
  -webkit-animation-delay: 1.95s;
          animation-delay: 1.95s;
}
.m-header-grid__cell:nth-child(20n - 7) {
  background: #d88b59;
  -webkit-animation: hor 6s ease infinite alternate;
          animation: hor 6s ease infinite alternate;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}
.m-header-grid__cell:nth-child(20n - 8) {
  background: #de8860;
  -webkit-animation: hor 6s ease infinite alternate;
          animation: hor 6s ease infinite alternate;
  -webkit-animation-delay: 1.65s;
          animation-delay: 1.65s;
}
.m-header-grid__cell:nth-child(20n - 9) {
  background: #e48667;
  -webkit-animation: hor 6s ease infinite alternate;
          animation: hor 6s ease infinite alternate;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.m-header-grid__cell:nth-child(20n - 10) {
  background: #ea856e;
  -webkit-animation: hor 6s ease infinite alternate;
          animation: hor 6s ease infinite alternate;
  -webkit-animation-delay: 1.35s;
          animation-delay: 1.35s;
}
.m-header-grid__cell:nth-child(20n - 11) {
  background: #ef8376;
  -webkit-animation: hor 6s ease infinite alternate;
          animation: hor 6s ease infinite alternate;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.m-header-grid__cell:nth-child(20n - 12) {
  background: #f5827d;
  -webkit-animation: hor 6s ease infinite alternate;
          animation: hor 6s ease infinite alternate;
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}
.m-header-grid__cell:nth-child(20n - 13) {
  background: #fa8184;
  -webkit-animation: hor 6s ease infinite alternate;
          animation: hor 6s ease infinite alternate;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.m-header-grid__cell:nth-child(20n - 14) {
  background: #ff7e89;
  -webkit-animation: hor 6s ease infinite alternate;
          animation: hor 6s ease infinite alternate;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
.m-header-grid__cell:nth-child(20n - 15) {
  background: #ff798c;
  -webkit-animation: hor 6s ease infinite alternate;
          animation: hor 6s ease infinite alternate;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.m-header-grid__cell:nth-child(20n - 16) {
  background: #ff748f;
  -webkit-animation: hor 6s ease infinite alternate;
          animation: hor 6s ease infinite alternate;
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}
.m-header-grid__cell:nth-child(20n - 17) {
  background: #ff6f92;
  -webkit-animation: hor 6s ease infinite alternate;
          animation: hor 6s ease infinite alternate;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.m-header-grid__cell:nth-child(20n - 18) {
  background: #ff6a96;
  -webkit-animation: hor 6s ease infinite alternate;
          animation: hor 6s ease infinite alternate;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
.m-header-grid__cell:nth-child(20n - 19) {
  background: #ff659a;
  -webkit-animation: hor 6s ease infinite alternate;
          animation: hor 6s ease infinite alternate;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.m-header-grid__cell:nth-child(19n - 11):after {
  content: '';
  background: #b30c73;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation: diag 3s ease infinite alternate;
          animation: diag 3s ease infinite alternate;
  -webkit-animation-delay: 2.85s;
          animation-delay: 2.85s;
}
.m-header-grid__cell:nth-child(19n - 12):after {
  content: '';
  background: #b80c73;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation: diag 3s ease infinite alternate;
          animation: diag 3s ease infinite alternate;
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}
.m-header-grid__cell:nth-child(19n - 13):after {
  content: '';
  background: #bd0b73;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation: diag 3s ease infinite alternate;
          animation: diag 3s ease infinite alternate;
  -webkit-animation-delay: 2.55s;
          animation-delay: 2.55s;
}
.m-header-grid__cell:nth-child(19n - 14):after {
  content: '';
  background: #c20b72;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation: diag 3s ease infinite alternate;
          animation: diag 3s ease infinite alternate;
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}
.m-header-grid__cell:nth-child(19n - 15):after {
  content: '';
  background: #c70b72;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation: diag 3s ease infinite alternate;
          animation: diag 3s ease infinite alternate;
  -webkit-animation-delay: 2.25s;
          animation-delay: 2.25s;
}
.m-header-grid__cell:nth-child(19n - 16):after {
  content: '';
  background: #cc0b71;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation: diag 3s ease infinite alternate;
          animation: diag 3s ease infinite alternate;
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}
.m-header-grid__cell:nth-child(19n - 17):after {
  content: '';
  background: #d10b71;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation: diag 3s ease infinite alternate;
          animation: diag 3s ease infinite alternate;
  -webkit-animation-delay: 1.95s;
          animation-delay: 1.95s;
}
.m-header-grid__cell:nth-child(19n - 18):after {
  content: '';
  background: #d60b71;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation: diag 3s ease infinite alternate;
          animation: diag 3s ease infinite alternate;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}
.m-header-grid__cell:nth-child(19n - 19):after {
  content: '';
  background: #db0b70;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation: diag 3s ease infinite alternate;
          animation: diag 3s ease infinite alternate;
  -webkit-animation-delay: 1.65s;
          animation-delay: 1.65s;
}
.m-header-grid__cell:nth-child(19n - 20):after {
  content: '';
  background: #e00b70;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation: diag 3s ease infinite alternate;
          animation: diag 3s ease infinite alternate;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.m-header-grid__cell:nth-child(19n - 21):after {
  content: '';
  background: #e50b70;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation: diag 3s ease infinite alternate;
          animation: diag 3s ease infinite alternate;
  -webkit-animation-delay: 1.35s;
          animation-delay: 1.35s;
}
.m-header-grid__cell:nth-child(19n - 22):after {
  content: '';
  background: #ea0b70;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation: diag 3s ease infinite alternate;
          animation: diag 3s ease infinite alternate;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.m-header-grid__cell:nth-child(19n - 23):after {
  content: '';
  background: #ef0b6f;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation: diag 3s ease infinite alternate;
          animation: diag 3s ease infinite alternate;
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}
.m-header-grid__cell:nth-child(19n - 24):after {
  content: '';
  background: #f40c6f;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation: diag 3s ease infinite alternate;
          animation: diag 3s ease infinite alternate;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.m-header-grid__cell:nth-child(19n - 25):after {
  content: '';
  background: #f41070;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation: diag 3s ease infinite alternate;
          animation: diag 3s ease infinite alternate;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
.m-header-grid__cell:nth-child(19n - 26):after {
  content: '';
  background: #f51570;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation: diag 3s ease infinite alternate;
          animation: diag 3s ease infinite alternate;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.m-header-grid__cell:nth-child(19n - 27):after {
  content: '';
  background: #f51971;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation: diag 3s ease infinite alternate;
          animation: diag 3s ease infinite alternate;
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}
.m-header-grid__cell:nth-child(19n - 28):after {
  content: '';
  background: #f61e72;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation: diag 3s ease infinite alternate;
          animation: diag 3s ease infinite alternate;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.m-header-grid__cell:nth-child(19n - 29):after {
  content: '';
  background: #f62274;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation: diag 3s ease infinite alternate;
          animation: diag 3s ease infinite alternate;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
.m-header-grid__cell:nth-child(19n - 30):after {
  content: '';
  background: #fb2374;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation: diag 3s ease infinite alternate;
          animation: diag 3s ease infinite alternate;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes hor {
  from {
    opacity: 1;
  }
  to {
    opacity: .8;
  }
}

@keyframes hor {
  from {
    opacity: 1;
  }
  to {
    opacity: .8;
  }
}
@-webkit-keyframes diag {
  from {
    opacity: .0;
  }
  to {
    opacity: .5;
  }
}
@keyframes diag {
  from {
    opacity: .0;
  }
  to {
    opacity: .5;
  }
}
.m-page-wrap {
  width: 100%;
  position: relative;
  max-width: 70rem;
  margin: 400px auto 0;
  background: #333333;
}
.m-page-wrap:after {
  zoom: 1;
}

.m-textbox {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
.m-textbox:last-child {
  margin-right: 0;
}

.m-textbox p {
  font-size: 1.5rem;
}

.m-title {
  width: 100%;
  position: absolute;
  top: 20px;
  z-index: 2;
}
.m-title h1 {
  margin-left: 2rem;
  display: inline-block;
  padding: 1rem;
}
.m-title a {
  position: relative;
}
.m-title a:before {
  content: '++';
  position: absolute;
  top: -.5rem;
  right: 0rem;
  display: block;
  color: #f58791;
  z-index: 3;
}

.m-line {
  width: 300px;
  height: 3px;
  background: #333333;
  margin: 5rem;
  -webkit-animation: lineglow 3s ease;
          animation: lineglow 3s ease;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes lineglow {
  0% {
    background-color: #cf7b4f;
  }
  25% {
    background-color: #bf5360;
  }
  50% {
    background-color: #b34c5a;
  }
  75% {
    background-color: #ca446a;
  }
  100% {
    background-color: #f36f7b;
  }
}
@keyframes lineglow {
  0% {
    background-color: #cf7b4f;
  }
  25% {
    background-color: #bf5360;
  }
  50% {
    background-color: #b34c5a;
  }
  75% {
    background-color: #ca446a;
  }
  100% {
    background-color: #f36f7b;
  }
}
@-webkit-keyframes in {
  0% {
    background: white;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    background: white;
  }
}
@keyframes in {
  0% {
    background: white;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    background: white;
  }
}
.page-template-page-styleguide .m-textbox:before {
  content: 'm-textbox';
}

.m-box {
  display: block;
  width: 100%;
  padding: 2rem;
}
.m-box p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
@media (max-width: 870px) {
  .m-box {
    float: left;
  }
}

.m-box--nav {
  background: #f36f7b;
}
.m-box--nav p {
  color: #E6E6E6;
}
.m-box--nav ul {
  margin-left: 2rem;
}
.m-box--nav li {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 2rem;
}
.m-box--nav li:last-child {
  margin-bottom: 6rem;
}
.m-box--nav a {
  border-bottom: 5px solid #E6E6E6;
}
.m-box--nav a:hover {
  opacity: .5;
}
@media (max-width: 970px) {
  .m-box--nav ul {
    margin-left: 0;
  }
}
@media (max-width: 600px) {
  .m-box--nav {
    position: absolute;
    top: -5rem;
    height: 5rem;
    float: left;
    padding: 0 0 0 2rem;
    width: 100%;
    padding-left: 0;
  }
  .m-box--nav ul {
    overflow-x: scroll;
    white-space: nowrap;
    margin: 0;
    height: 100%;
  }
  .m-box--nav li {
    display: inline-block;
    margin: 0;
    padding: 0 1rem;
    line-height: 5rem;
    font-size: 1rem;
  }
  .m-box--nav li:last-child {
    margin-bottom: 0;
  }
  .m-box--nav li:nth-child(1) {
    background: #f26672;
  }
  .m-box--nav li:nth-child(2) {
    background: #f15c6a;
  }
  .m-box--nav li:nth-child(3) {
    background: #f15361;
  }
  .m-box--nav li:nth-child(4) {
    background: #f04958;
  }
  .m-box--nav li:nth-child(5) {
    background: #ef4050;
  }
  .m-box--nav a {
    border-bottom: none;
  }
}

.m-box--titled {
  background: #ca446a;
}
.m-box--titled p {
  color: #333333;
}
.m-box--titled p {
  font-weight: 600;
}
.m-box--titled h2 {
  color: #E6E6E6;
}

.m-box--half {
  background: #f36f7b;
  width: 50%;
  float: left;
}
.m-box--half p {
  color: #333333;
}
@media (max-width: 870px) {
  .m-box--half {
    width: 100%;
  }
}

.m-box--half + .m-box--half {
  background: #b34c5a;
}
.m-box--half + .m-box--half p {
  color: #333333;
}

.m-box--social {
  height: 5rem;
  position: relative;
  text-align: right;
}
.m-box--social svg {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  top: 2.25rem;
  right: 1.5rem;
  fill: #E6E6E6;
}
.m-box--social a {
  padding-right: 2rem;
  line-height: 2rem;
}
.m-box--social a:hover path {
  -webkit-animation: shiny-fill .7s ease infinite;
          animation: shiny-fill .7s ease infinite;
}
@-webkit-keyframes shiny-fill {
  0% {
    fill: #cf7b4f;
  }
  25% {
    fill: #bf5360;
  }
  50% {
    fill: #b34c5a;
  }
  75% {
    fill: #ca446a;
  }
  100% {
    fill: #f36f7b;
  }
}
@keyframes shiny-fill {
  0% {
    fill: #cf7b4f;
  }
  25% {
    fill: #bf5360;
  }
  50% {
    fill: #b34c5a;
  }
  75% {
    fill: #ca446a;
  }
  100% {
    fill: #f36f7b;
  }
}
@media (max-width: 870px) {
  .m-box--social {
    padding: .25rem;
    width: 50%;
    float: left;
    font-size: .75rem;
    text-align: center;
  }
  .m-box--social a {
    padding: 0;
  }
  .m-box--social svg {
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .m-box--social + .m-box--social {
    background: #4d4d4d;
  }
}

.home .l-main .m-box:nth-child(1) {
  background: #E6E6E6;
}
.home .l-main .m-box:nth-child(1) p {
  color: #333333;
}
.home .l-rail .m-box:nth-child(1) {
  background: #bf5360;
  text-align: center;
}
.home .l-rail .m-box:nth-child(1) p {
  color: #333333;
}
.home .l-rail .m-box:nth-child(1) p {
  font-size: 1.5rem;
}

.m-splitbar {
  width: 100%;
  height: 3rem;
  font-weight: 200;
  font-size: 20px;
}

.m-splitbar__segment {
  height: inherit;
  float: left;
  position: relative;
}

.m-splitbar p {
  font-size: 1rem;
  margin-left: 2rem;
  line-height: 3rem;
}

.home .m-splitbar .m-splitbar__segment:nth-child(1) {
  width: 10%;
  background: #E6E6E6;
}
.home .m-splitbar .m-splitbar__segment:nth-child(2) {
  width: 90%;
  background: #333333;
}
.home .m-splitbar .m-splitbar__segment:nth-child(2) p {
  font-weight: 400;
}

#wpadminbar {
  display: none;
}

html.js {
  margin-top: 0 !important;
}

/*# sourceMappingURL=style.css.map */