$light-gray: #E6E6E6;
$dark-gray: #333333;
$light-pink: #F58791;

  $colors: rgb(207, 123, 79),
         rgb(191, 83,  96),
         rgb(179, 76,  90),
         rgb(202, 68,  106),
         rgb(243, 111, 123);