$m: '.m-box';

#{$m} {
  display: block;
  width: 100%;
  padding: 2rem;
  p {
    font-size: $xsmall;
    line-height: 1.5;
    font-weight: 400;
  }
  @media (max-width: $mq-singlecol) {
    float: left;
  }
}

#{$m}--nav {
  @include m-box-colors(nth($colors, 5), $light-gray);
  ul {
    margin-left: 2rem;
  }
  li {
    font-size: $small;
    text-transform: uppercase;
    margin: 2rem;
    &:last-child {
      margin-bottom: 6rem;
    }
  }
  a {
     border-bottom: 5px solid $light-gray;
     &:hover {
      opacity: .5;
     }
  }
  @media (max-width: 970px) {
    ul {
      margin-left: 0;
    }
  }
  @media (max-width: 600px) {
    position: absolute;
    top: -5rem;
    height: 5rem;
    float: left;
    padding: 0 0 0 2rem;
    width: 100%;
    padding-left: 0;

    ul {
      overflow-x: scroll;
      white-space: nowrap;
      margin: 0;
      height: 100%;
    }

    li {
        display: inline-block;
        margin: 0;
        padding: 0 1rem;
        line-height: 5rem;
        font-size: 1rem;
        &:last-child {
          margin-bottom: 0;
        }
        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            background: darken(nth($colors, 5), $i * 2%);
          }
        }
    }
    a {
      border-bottom: none;
    }
  }
}

#{$m}--titled {
  @include m-box-colors(nth($colors, 4), $dark-gray);
  p {
    font-weight: 600;
  }
  h2 {
    color: $light-gray;
  }
}
#{$m}--half {
  @include m-box-colors(nth($colors, 5), $dark-gray);
  width: 50%;
  float: left;
  @media (max-width: $mq-singlecol) {
    width: 100%;
  }
}
#{$m}--half + #{$m}--half {
  @include m-box-colors(nth($colors, 3), $dark-gray);
}

#{$m}--social {
  height: 5rem;
  position: relative;
  text-align: right;
  svg {
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    top: 2.25rem;
    right: 1.5rem;
    fill: $light-gray;
  }
  a {
    padding-right: 2rem;
    line-height: 2rem;
  }
  a:hover path {
    $cols: ();
    @for $i from 1 through length($colors) {
      $cols: append($cols, nth($colors, $i));
    }
    @include keyframer(shiny-fill, fill, $cols);
    animation: shiny-fill .7s ease infinite;
  }
  @media (max-width: $mq-singlecol) {
    padding: .25rem;
    width: 50%;
    float: left;
    font-size: .75rem;
    text-align: center;
    a {
      padding: 0;
    }
    svg {
        margin: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    & + #{$m}--social {
      background: lighten($dark-gray, 10%);
    }
  }
}

.home {

  .l-main #{$m}:nth-child(1) {
    @include m-box-colors($light-gray, $dark-gray);
  }

  .l-rail #{$m}:nth-child(1) {
    @include m-box-colors(nth($colors, 2), $dark-gray);
    text-align: center;
    p {
      font-size: $small;
    }
  }

}

// sizes