$m: '.m-page-wrap';

#{$m} {
  width: 100%;
  position: relative;
  max-width: setting(max-width);
  margin: 400px auto 0;
  background: $dark-gray;
  //background: url('../images/footer_lodyas.png');
  &:after {
    zoom: 1;
  }
}