$m: '.m-title';

#{$m} {
  width: 100%;
  position: absolute;
  top: 20px;
  z-index: 2;
  h1 {
    margin-left: 2rem;
    display: inline-block;
    padding: 1rem;
  }
  a {
    position: relative;
  }
  a:before {
    content: '++';
    position: absolute;
    top: -.5rem;
    right: 0rem;
    display: block;
    color: lighten(nth($colors, 5), 5%);
    z-index: 3;
  }
}