html, body {
  height: 100%;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $dark-gray;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  -ms-word-wrap: break-word;
  word-break: break-word; //non-standard css for webkit
  word-wrap: break-word;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;
  -webkit-margin-before: 0;
  margin-before: 0;
  -webkit-margin-after: 0;
  margin-after: 0;
}

article ul{
  color: white;
  font-size: 1.5rem;
  list-style-type: disc;
}
