body {
  font-family: $sans;
}

h1, h1 a {
  font-size: $large;
  font-weight: 700;
  color: $light-gray;
  opacity: 1;
}

a {
  color: $light-gray;
  font-weight: 600;
}

p {
  color: $light-gray;
  font-weight: 300;
  font-size: $small;
}

.emphasis {
  font-weight: 600;
}
